.profile-header-container {
  min-height: 300px;
  background-color: #000;
}

.profile-container {
  background-color: #fff;
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  /*background-color: #000;*/
}

h2.greeting-message {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.greeting-message {
  font-size: 42px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-top: 96px;*/
}
