.profile-container {
  background-color: #fff;
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #000;
}

.profile-greeting h1 {
  font-size: 72px;
  margin: 96px 0px 0px;
  text-align: center;
}