.contribute-program-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contribute-program-title {
  font-size: 44px;
  margin: 20px 0;
  border-bottom: 1px solid rgba(1, 1, 1, 0.4);
}

.contribute-program-form {
  display: flex;
  flex-direction: column;
}

.workout-form-list-container {
  display: flex;
}

.contribute-program-button {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 24px;
  cursor: pointer;
  height: 40px;
  width: 150px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform 0.1s ease-out;
  margin-top: 50px;
}

.contribute-program-button:hover {
  transform: scale(1.1);
}
