.profile-container {
  background-color: #fff;
  height: 100vh;
}

.progress {
  display: flex;
  justify-content: center;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}