.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-heading {
  font-size: 40px;
  color: #fff;
}

.menu-list {
  list-style: none;
  list-style-type: none;
}

.main-menu {
  align-items: center;
  display: flex;
}

.main-menu li {
  padding: 0 16px;
}
