.schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-title {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.schedule-item {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 14px 10px;
  margin: 16px 0px 0px;
  box-shadow: rgb(0 0 0 / 35%) 0px 0px 2px 0px;
}

.create-goal-button {
  cursor: pointer;
  background: rgb(0, 0, 0);
  height: 56px;
  text-align: center;
  border-radius: 60px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}
